doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
      if title
        title= title
      if keywords
        meta(name="keywords" content=keywords)
      if description
        meta(name="description" content=description)
      meta(name="application-name" content=appName data-version=appVersion)
      base(href='/')
      link(rel='api', href='api')
      link(rel='icon', href='favicon.png' type='image/png')

      //- link(rel='stylesheet', href='/test.css')
      //- script(type='text/javascript', src='/script.js')
      link(rel='stylesheet', href='/style.css')
  body.home
    block content